*{margin: 0px;
padding: 0px;
box-sizing: border-box;}

.layout{width: 1440px;
height: 3981px;
overflow: hidden;
background-color: #edf0f4;}

header{width: 1440px;
height: 799px;
background-color: #284854;}

.block{display: inline-block;
padding-top: 20px;
width: 1230px;
height: 81px; 
font-size: 18px;
font-weight: 400;
color: #284854;
background-color: #60C1BD;
margin-top: 23px;
margin-right: 97px;
margin-bottom: 0px;
margin-left: 113px;
border-radius: 100px;}


.left{
width: 125px;
height: 33px;
font-size: 30px;
color: #FFFFFF;;
margin-top: 50px;
margin-right: 305px;
margin-bottom: 21px;
margin-left: 32px;}



.first{width: 109px;
height: 25px;
margin-top: 33px;
margin-right: 84px;
margin-bottom: 23px;
margin-left: 305;}

.second{width: 77px;
height: 25px;
margin-top: 36px;
margin-right: 95px;
margin-bottom: 20px;}

.fourth{width: 77px ;
height: 25px;
margin-top: 36px;
margin-right: 95px;
margin-bottom: 20px;
}
button{width: 36px;
height: 19px;}

.clear{clear: both;}


h1{width: 712px;
height: 204px;
font-weight: 400;
font-size: 85px;
color: #8BC441;
margin-top: 119px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 120px;}

p{width: 542px;
height: 112px;
font-weight: 400;
font-size: 20px;
color: #FFFFFF;
margin-top: 60px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 180px;}

img{float: right;
margin-top: 0px;
margin-right: 186.84px;
margin-bottom:0px;
margin-left: 0px;
}

.images{
border: 2px solid #000;
background-color: #F4F6F0;
width: 506px;
height: 203px;
float: left;
margin-top: 100px;
margin-right: 300px;
margin-bottom: 0px;
margin-left: 50px;}

.img{
border: 2px solid #000;
background-color: #F4F6F0;
width: 506px;
height: 203px;
float: right;
margin-top: 0px;
margin-right: 150px;}

h4{margin-top: 500px;
text-align: center;
font-size: 22px;
color: #60C1BD;
}
h2{text-align: center;
font-size: 55px;
color: #284854;}

.content{float: left;
    margin-top: 143px;
margin-left: 231px;
}
.text{font-size: 20px;
color: #798B56;
margin-top: 159px;}

.desk{font-size: 40px;
color: #8BC441;}

.lead{size: 16px;
color: #284854;
margin-right: 269px;
margin-bottom: 193px;}

.tegline{margin-left: 285px;
margin-right: 704px;}

.slogan{float: left;
margin-left: 199px;
}


.aside{width: 1440px;
height: 601px;
overflow: hidden;
background-color: 
#F4F6F0;
padding-top: 83px;}

.item{margin-top: 73px;
margin-left: 191px;
margin-bottom: 5px;
margin-right: 100px;
text-align: left;}

.cite{margin-top: 58px;
margin-left: 780px;
margin-right: 548px;
border: 1px solid 
#60C1BD;
color: 
#60C1BD;
width: 112px;
height: 22px;
text-align: center;}

.widget{width: 1440px;
    height: 438px;
    overflow: hidden;
    background-color: 
    #8BC441;
}

.pic{margin-top: 89.6px;}
.head{font-size: 55px;
   margin-top: 86px;
   margin-right: 339px;
color:#FFFFFF;}

.active{
font-weight: 400;
margin-top: 57px;
margin-left: 585px;
color: #FFFFFF;
height: 81px;
width: 239px;}
.current{float: right;
    margin-top: 0px ;
margin-right: 274px;
color: #FFFFFF;
height: 81px;
width: 239px;}


footer{width: 1440px;
height: 438px;
overflow: hidden;
padding: 50px;
background-color: #F4F6F0;}



.find{display: block;
float: right;
color: 
#284854;
font-weight: 400;}



.hos{display: block;
float: right;
margin-right: 150px;
color: #284854;}


.vet{color: #284854;}


.contacs{margin-top: 71px;
color: #284854;}

span{margin: 20px;}